<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre Price Chart</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/idxstyle.css') }}">
</head>
<body>
    <div class="container">
        <h1>Mercado Libre Price Chart</h1>
        <form id="price-form" action="/" method="post">
            <label for="item">Item:</label>
            <input type="text" id="item" name="item" required placeholder="Raqueta de tenis">
            <label for="number_of_pages">Number of Pages (1–15):</label>
            <input type="number" id="number_of_pages" name="number_of_pages" required min="1" max="15" value="1">
            <button type="submit" id="submit-button">Generate Plot</button>
        </form>

        <div class="explanation">
            <p>
                This web app generates a price chart for any given item on Mercado Libre.
                The chart shows the price distribution of the item on the first <strong>n</strong> pages of the search results.
            </p>
        </div>
        <div class="warning-message">
            Warning: The more pages you request, the longer it will take to generate the plot. Each page takes approximately 2 seconds to index.
        </div>

        <div class="warning-message">
            The first time you generate a plot, it may take a few seconds to load (as the monedas-api server wakes up).
            Later plots will load faster.
        </div>

        <div class="progress-container" id="progress-container">
            <div class="progress-bar" id="progress-bar"></div>
        </div>

        <div class="footer">
            &copy; 2024 PyoneerC.
            <a href="https://github.com/pyoneerC/mercado-libre-price-chart" target="_blank">View on GitHub</a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/progressbar.js') }}"></script>
</body>
</html>
