<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Price Histogram</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/showstyle.css') }}">
   </head>
   <body>
      <div class="container">
         <h1>Price Histogram</h1>
         <img src="data:image/png;base64,{{ plot_base64 }}" alt="Price Histogram">
         <div class="button-group">
            <a href="{{ url_for('index') }}">Go Back</a>
            <a href="data:image/png;base64,{{ plot_base64 }}" download="{{ item }}_price_histogram_MercadoLibre_{{ current_date }}_{{ number_of_pages }}_pages.png">
                Download Image
            <a href="{{ url }}" target="_blank">View on Mercado Libre</a>
            </div>
         <div class="stats">
             <p><strong>{{ item | upper }} prices in Mercado Libre:</strong></p>
            <p><strong>Average Price:</strong> {{ avg_price | format_number }} ARS</p>
            <p><strong>Median Price:</strong> {{ median_price | format_number }} ARS</p>
            <p><strong>Maximum Price:</strong> {{ max_price | format_number }} ARS</p>
            <p><strong>Minimum Price:</strong> {{ min_price | format_number }} ARS</p>
         </div>
         <div class="footer">
            &copy; 2024 PyoneerC.
            <a href="https://github.com/pyoneerC/mercado-libre-price-chart" target="_blank">View on GitHub</a>
         </div>
      </div>
   </body>
</html>